<?php
$pdo_database = 'mcstats';
$pdo_host = '127.0.0.1';
$pdo_port = 3306;
$pdo_user = 'Oh';
$pdo_pass = ':( There no password...';
//Links table
$pdo_stats_table = 'stats';
$pdo_players_table = 'players';
$pdo_info_table = 'info';

//Do not touch pdo_dsn
$pdo_dsn = 'mysql:dbname='.$pdo_database.';host='.$pdo_host.';port='.$pdo_port;